.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col{
  max-width: 400px;
  margin: 15px;
  height: auto;
  width: 80%;
}

.movieImage{
  border-radius: 15px;
  object-fit: cover;
}

.titleMovie{
  margin-top: 30px;
  text-align: start;
}

.movieDetails{
  font-size: 1.5rem;
}

.genres{
  margin: 5px;
}
.overview{
  text-align: justify;
  margin: 5px;
}

@media (max-width: 560px) {
  .container {
    grid-template-columns: 100%;
  }
}
